<div class="container w-25 h-50 justify-content-center">
  <form #discCalc="ngForm">
  <div class="panel panel-default" >
    <div class="panel-heading text-center">
      <div class="row">
        <h2> Discount Finder</h2>
      </div>
      <div class="row">
      <label for="priceBox" class="col-md-4 form-label text-end">Enter Price</label>
        <div class="col-md-8">
          <span id="addDollarSign">
          <input ngModel #price="ngModel" id="priceBox" name="priceBox" type="number" class="form-control" min="0" step="0.01" value=0 placeholder="0.00" [required]="true"/>
          </span>
        </div>
      </div>
      <div class="row">
        <label for="discount" class="col-md-4 form-label">
          Enter Discount
        </label>
        <div class="col-md-8 text-end">
          <span id="addPercentSign">
          <input ngModel #percentOff="ngModel" id="discount" name="discount" type="number" class="form-control" min="0" max="100" step="1" value=0 placeholder="0" [required]="true" />
          </span>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12 pad-adjust">
          <input type="submit" class="btn justify-content-center" value="Calculate"  [disabled]="!discCalc.valid" (click)="calculate(price.value, percentOff.value)"/>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12 pad-adjust align-items-center">
          <input id="finalPrice" type="text" class="form-control" [formControl]="finalPrice" readonly/>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
